*{
	font-family: 'PT Sans', sans-serif;
} 

 #centerSpace{
	background-image: url("../images/Question1.1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:1000px;


 }

h1 {
	margin-top: -8px;
	padding:25px;
	text-align: center;
	font-size: 5rem;
	background-color: cornflowerblue;
	color:white;
	text-shadow: 5px 5px navy;
}

#pageBody {
	width: 60%;	
	margin: 0 auto;
}
#questionSpace{
	background-color:cornflowerblue;
	opacity:.5;
	text-align: center;
	height:750px;
	width:75%;
	float:left;
}

 #statusBar{
 	float:right;
 	font-size: 4rem;
 	height:1000px;
 	margin-right:100px;

 }

.list-group{
	background-color:cornflowerblue;
	opacity:.5;
	text-align: center;
	width:200px;
	height:750px;
}

h2{
	font-size: 3rem;
	font-family: inherit;	
}

#answerList{

}

 #question1, #question2, #question3, #question4, #question5{
 	opacity:1;
 	
 }

 #question1{
 	padding-top:10rem;
 }

 .correct{
 	color: green;
 }

 .incorrect{
 	color: red;
 }

 .hidden{
 	display:none;
 }

 input[type='radio'], input[type='submit'], input[type='button']{
    transform: scale(3);
}

@media only screen and (max-width: 2100px){
	#pageBody{
		width:85%;
	}
	#statusBar{
		margin-right:25px;

	}	
}

@media only screen and (max-width: 1500px){
	#pageBody{
		width:95%;
	}

	#statusBar{
		margin-right:10px;
	}
	.list-group{
		width:120px;
	}

	h2{
		font-size: 2rem;
	}
}

